astroid==4.0.4
beautifulsoup4==4.14.3
certifi==2026.2.25
cfgv==3.5.0
charset-normalizer==3.4.6
dill==0.4.1
distlib==0.4.0
filelock==3.25.2
identify==2.6.18
idna==3.11
isort==8.0.1
librt==0.8.1
mccabe==0.7.0
mypy==1.20.0
mypy_extensions==1.1.0
nodeenv==1.10.0
orjson==3.11.8
pathspec==1.0.4
platformdirs==4.9.4
pre_commit==4.5.1
pylint==4.0.5
python-discovery==1.2.1
PyYAML==6.0.3
requests==2.33.1
soupsieve==2.8.3
tomlkit==0.14.0
types-requests==2.33.0.20260327
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==21.2.0
