astroid==3.1.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
dill==0.3.8
distlib==0.3.8
filelock==3.13.4
identify==2.5.35
idna==3.7
isort==5.13.2
mccabe==0.7.0
mypy==1.9.0
mypy-extensions==1.0.0
nodeenv==1.8.0
platformdirs==4.2.0
pre-commit==3.7.0
pylint==3.1.0
PyYAML==6.0.1
requests==2.31.0
rss-shim==0.0.1
setuptools==69.2.0
soupsieve==2.5
tomlkit==0.12.4
types-requests==2.31.0.20240406
typing_extensions==4.11.0
urllib3==2.2.1
virtualenv==20.25.1
wheel==0.41.3
