astroid==3.3.6
beautifulsoup4==4.12.3
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.0
dill==0.3.9
distlib==0.3.9
filelock==3.16.1
identify==2.6.3
idna==3.10
isort==5.13.2
mccabe==0.7.0
mypy==1.13.0
mypy-extensions==1.0.0
nodeenv==1.9.1
orjson==3.10.12
platformdirs==4.3.6
pre_commit==4.0.1
pylint==3.3.2
PyYAML==6.0.2
requests==2.32.3
soupsieve==2.6
tomlkit==0.13.2
types-requests==2.32.0.20241016
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.28.0
